@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: rgb(28, 28, 107);
}

.container {
  box-shadow: 1px 1px 10px #888888;
  background-color: rgb(243, 239, 239);
  height: 100vh;
  overflow-y: auto;
  padding: 50px;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

.profile-text,
.content > ul {
  padding-top: 30px;
}

p {
  font-weight: bold;
}

span {
  font-weight: normal;
}

hr {
  border: 1px solid rgb(241, 226, 12);
  width: 400px;
}

.content {
  text-align: center;
}

.content > h2 {
  padding-top: 40px;
}
.content > ul {
  padding-bottom: 90px;
  display: inline-block;
  text-align: left;
  width: 450px;
}

.content > ul > li {
  list-style-type: circle;
}

.content > a:hover {
  background-color: rgb(241, 226, 12);
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
}

/* Small Tablet and Medium Mobile responsiveness */
@media (max-width: 920px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    text-align: center;
  }
  
  .content > ul {
    padding-bottom: 50px;
    display: inline-block;
    text-align: left;
    width: 400px;
  }
}

/* Medium Mobile and Small Mobile responsiveness */
@media (min-width: 360px) and (max-width: 480px) {
  .container {
    font-size: small;
    text-align: justify;
  }

  hr {
    width: 300px;
  }

  .content > ul {
    width: 300px;
  }
}

@media (min-width: 320px) and (max-width: 360px) {
  .container {
    font-size: small;
    text-align: justify;
  }
  .content > ul {
    width: 250px;
  }
}